# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ANTLR parsing stuff
.idea/
L2LsuDrvr.C
L2LsuDrvr.h
L2LsuEvent.C
L2LsuEvent.h
parsing/antlr-4.5.3-complete.jar
parsing/antlrpy/CPP14.tokens
parsing/antlrpy/CPP14Lexer.py
parsing/antlrpy/CPP14Lexer.tokens
parsing/antlrpy/CPP14Listener.py
parsing/antlrpy/CPP14Parser.py
parsing/antlrpy/__pycache__/
